<div class="fade-transition" flex>
	<div layout="column" layout-padding flex flex-gt-sm="70">
		<form novalidate name="form.editReportForm" flex>
			<!-- Report Details -->
			<md-card>
				<md-toolbar class="md-primary">
					<div class="md-toolbar-tools">
						<h2>Report Details</h2>
					</div>
				</md-toolbar>
				<md-subheader class="md-accent md-no-sticky">
					<span>Date Coverage</span>
				</md-subheader>
				<md-card-content>
					<md-list layout="row" layout-align="space-between center" class="fade-transition" ng-if="performances">
						<md-list-item class="md-2-line" layout="row">
							<h2 class="md-avatar md-headline purple-bg" layout="row" layout-align="center center">
								<span class="weight-200 white-text">{{ details.first_letter }}</span>
							</h2>
							<div class="md-list-item-text" layout="column" flex>
								<h3>{{ details.project_name }}</h3>
								<h4>{{ details.date_start | date:'EEEE, MMM. d, yyyy' }} to {{ details.date_end | date:'EEEE, MMM. d, yyyy'}}</h4>
								<p>Daily Work Hours: {{ details.daily_work_hours }}hour(s) - {{details.weekly_hours}} weekly work hour(s)</p>
							</div>
						</md-list-item>
					</md-list>
					<md-input></md-input>
				</md-card-content>		
			</md-card>
			<div layout-padding>
				<md-checkbox ng-change="checkAllPerformance()" ng-model="checkAll" class="md-primary">
					<span ng-if="!checkAll">Check</span><span ng-if="checkAll">Uncheck</span> all
				</md-checkbox>
			</div>
			<md-card class="fade-transition" ng-repeat="performance in performances | orderBy:'first_letter' | orderBy:'member.full_name' | filter: toolbar.searchText">
				<md-card-content>
					<md-list layout="row" layout-align="space-between center">
						<md-list-item class="md-2-line" layout="row">
							<h2 class="md-avatar md-headline purple-bg" layout="row" layout-align="center center">
								<span class="weight-200 white-text">{{ performance.member.full_name.charAt(0).toUpperCase() }}</span>
							</h2>
							<div class="md-list-item-text" layout="column" flex>
								<h3>{{ performance.member.full_name }}</h3>
								<h4>Date Started: {{ performance.date_started | date:'MMM. d, yyyy'}}</h4>
								<p>{{ performance.experience }} - (based from the date of report)</p>
							</div>
						</md-list-item>
						<div>
							<md-checkbox ng-change="checkLimit(performance)" ng-model="performance.include" class="md-primary">
								<span>Edit</span>
							</md-checkbox>
							<md-button class="md-icon-button" ng-click="deletePerformance(performance)">
								<md-icon class="mdi mdi-delete grey"></md-icon>
								<md-tooltip>Delete</md-tooltip>
							</md-button>
						</div>
					</md-list>
					<div ng-if="performance.include" class="fade-transition" layout="column">
						<!-- Position -->
						<md-input-container flex>
							<label>Position</label>
							<md-select name="Position{{$index}}" required ng-model="performance.position_id" ng-change="getTarget(performance)">
								<md-option ng-repeat="position in project.positions" value="{{ position.id }}">
									{{ position.name }}
								</md-option>
							</md-select>
							<div ng-messages="form.editReportForm['Position' + $index].$error" ng-if="form.editReportForm['Position' + $index].$touched">
								<div ng-messages-include="/app/shared/templates/validation-message-report.html"></div>
							</div>
						</md-input-container>
						<div layout="row">
							<!-- Total Total Hours Worked -->
							<md-input-container flex>
								<label>Total Hours Worked</label>
								<input name="HoursWorked{{$index}}" type="number" min="0.1" max="{{ performance.limit + performance.current_hours_worked }}" step="0.5" required ng-model="performance.hours_worked" ng-blur="checkBalance(performance)">
								<div ng-messages="form.editReportForm['HoursWorked' + $index].$error" ng-if="form.editReportForm['HoursWorked' + $index].$touched">
									<!-- <div ng-messages-include="/app/shared/templates/validation-message.html"></div> -->
									<div ng-message="required">Total hours worked is required.</div>
									<div ng-message="min">Total hours worked must not be less than 0</div>
									<div ng-message="max">Total hours worked cannot be more than {{ performance.limit }}.</div>
								</div>
								<div class="hint" ng-if="performance.balance">{{ performance.member.full_name }} still needs to render {{performance.balance}} hour(s)</div>
							</md-input-container>
							<!-- Total Output -->
							<md-input-container flex>
								<label>Total Output</label>
								<input name="Output{{$index}}" type="number" min="0" required ng-model="performance.output">
								<!-- <div class="hint" ng-if="!showErrors">Output must not be less than one.</div> -->
								<div ng-messages="form.editReportForm['Output' + $index].$error" ng-if="form.editReportForm['Output' + $index].$touched && showErrors">
									<div ng-message="required">Total output is required.</div>
									<div ng-message="min">Total output must not be less than 0</div>
								</div>
							</md-input-container>
							<!-- Total Output w/error -->
							<md-input-container flex>
								<label>Total Output w/Error</label>
								<input name="OutputError{{$index}}" type="number" min="0" max="{{performance.output}}" required ng-model="performance.output_error">
								<div ng-messages="form.editReportForm['OutputError' + $index].$error" ng-if="form.editReportForm['OutputError' + $index].$touched">
									<div ng-message="required">Total output with error worked is required.</div>
									<div ng-message="min">Total output with error must not be less than 0.</div>
									<div ng-message="max">Total output with error cannot be more than total output.</div>
								</div>
							</md-input-container>
						</div>
						<div layout="row">
							<!-- Remarks -->
							<md-input-container flex>
								<label>Remarks</label>
								<textarea name="Remarks{{$index}}" ng-model="performance.remarks"></textarea>
							</md-input-container>
						</div>
						<!-- <md-input-container flex ng-if="user.role=='team-leader'">
							<label>Message</label>
							<input type="text" ng-model="performance.message" name="Message{{$index}}" required>
							<div class="hint" ng-if="!showErrors">Specify reason for editing.</div>
							<div ng-messages="form.editReportForm['Message' + $index].$error" ng-if="form.editReportForm['Message' + $index].$touched && showErrors">
								<div ng-messages-include="/app/shared/templates/validation-message-report.html"></div>
							</div>
						</md-input-container> -->
					</div>
				</md-card-content>
			</md-card>
		</form>
	</div>
</div>