<md-dialog layout="column" flex aria-label="Other Performance" ng-cloak>
	<md-dialog-content flex layout-padding>
		<div layout="row" layout-align="space-between center">
			<md-list>
				<md-list-item class="md-3-line">
					<md-icon class="md-avatar-icon mdi mdi-account" aria-label="Member"></md-icon>
					<div class="md-list-item-text">
						<h3>{{member.full_name}} <span class="md-caption secondary-text">({{member.total_hours_worked | number: 2}} hour(s) worked)</span></h3>
						<h4>Average Productivity <span ng-if="member.position">as {{member.position.name}}</span>: {{member.average_productivity |number: 2}}%</h4>
						<p>Average Quality <span ng-if="member.position">as {{member.position.name}}</span>: {{member.average_quality |number: 2}}%</p>
					</div>
				</md-list-item>
			</md-list>
			<md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
				<md-icon class="mdi mdi-close grey"></md-icon>
			</md-button>
		</div>
		<div ng-repeat="position in positions" ng-if="position.performances.length">
			<md-subheader class="md-no-sticky primary-text">{{position.name}}</md-subheader>
			<em class="secondary-text md-caption">Performances of {{member.full_name}} as <span class="accent-text">{{position.name}}</span> only with the same date range.</em>		
			<table class="table">
				<tr>
					<th>Date Start</th>
					<th>Date End</th>
					<th>Daily Work Hours</th>
					<th>Project</th>
					<th>Position</th>
					<th>Hours Worked</th>
					<th>Output</th>
					<th>Output w/Error(s)</th>
					<th>Average Output</th>
					<th>Productivity</th>
					<th>Quality</th>
					<th>Quadrant</th>
					<th>Remarks</th>
				</tr>
				<tr class="fade-transition" ng-repeat="performance in position.performances">
					<td>{{performance.date_start | date: 'MMMM dd'}}</td>
					<td>{{performance.date_end | date: 'MMMM dd'}}</td>
					<td>{{performance.daily_work_hours | number:1}}</td>
					<td>{{performance.project.name}}</td>
					<td>{{performance.position.name}}</td>
					<td>{{performance.hours_worked | number: 2}}</td>
					<td>{{performance.output | number: 2}}</td>
					<td>{{performance.output_error | number: 2}}</td>
					<td>{{performance.average_output | number: 2}}</td>
					<td>{{performance.productivity | number: 2}}%</td>
					<td>{{performance.quality | number: 2}}%</td>
					<td>{{performance.quadrant}}</td>
					<td ng-if="performance.remarks" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{performance.remarks}}</td>
				</tr>
				<tr>
					<th colspan="6"></th>
					<th>Total Hours Worked</th>
					<th>Total Output</th>
					<th>Total Output w/Error(s)</th>
					<th>Total Average Output</th>
					<th>Weekly Productivity</th>
					<th>Weekly Quality</th>
					<th>Quadrant</th>
				</tr>
				<tr>
					<th colspan="6"></th>
					<td>{{position.total_hours_worked | number: 2}}</td>
					<td>{{position.total_output | number: 2}}</td>
					<td>{{position.total_output_error | number: 2}}</td>
					<td>{{position.total_average_output | number: 2}}</td>
					<td>{{position.weekly_productivity | number: 2}}%</td>
					<td>{{position.weekly_quality | number: 2}}%</td>
					<td>{{position.quadrant}}</td>
				</tr>
			</table>
		</div>
	</md-dialog-content>
</md-dialog>