<div class="fade-transition" flex layout-padding ng-if="reports">
	<div layout="row" layout-padding flex ng-repeat="detail in reports" ng-if="detail.length">
		<div flex>
			<div class="panel panel-default">
				<div class="panel-body" layout="column" flex>
					<div layout="row" layout-align="center center" flex>
						<div flex>					
							<canvas id="bar" class="chart chart-bar" chart-data="charts[$index].data" chart-labels="charts[$index].labels" chart-legend="true" chart-series="chart.series"></canvas>
						</div>
						<div flex="35">			
							<canvas id="pie" class="chart chart-pie" chart-data="charts[$index].position_head_count" chart-labels="charts[$index].positions" chart-legend="true"></canvas> 
						</div>					
					</div>
					<h2 class="md-headline primary-text">{{detail[0].name}}</h2>
					<p class="md-subhead">Program Head Count: <strong class="accent-text">{{detail[0].program_head_count}}</strong></p>
					<div layout="row" flex>	
						<table class="table">
							<tr>
								<td colspan="3"></td>
								<td ng-repeat="item in detail[0].results">{{ item.date_start }} to {{ item.date_end }}</td>
								<td colspan="{{detail[0].results.length + 3}}"></td>
							</tr>
							<tr>
								<th>
									<a href="#" class="main-text" ng-click="sortType = 'full_name' ; sortReverse = !sortReverse">	
										<span>Name</span>
										<md-icon ng-show="sortType == 'full_name' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'full_name' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="#" class="main-text" ng-click="sortType = 'position' ; sortReverse = !sortReverse">
										<span>Position</span>
										<md-icon ng-show="sortType == 'position' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'position' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="#" class="main-text" ng-click="sortType = 'experience' ; sortReverse = !sortReverse">
										<span>Category</span>
										<md-icon ng-show="sortType == 'experience' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'experience' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
	
								<th ng-repeat="item in detail[0].results">
									<table class="table">
										<tr>
											<td class="no-spacing">Productivity</td>
											<td class="no-spacing">Quality</td>
										</tr>
									</table>
								</th>
								
								<th>
									<a href="#" class="main-text" ng-click="sortType = 'productivity_average' ; sortReverse = !sortReverse">
										<span>Average Productivity</span>
										<md-icon ng-show="sortType == 'productivity_average' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'productivity_average' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="#" class="main-text" ng-click="sortType = 'quality_average' ; sortReverse = !sortReverse">
										<span>Average Quality</span>
										<md-icon ng-show="sortType == 'quality_average' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'quality_average' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="#" class="main-text" ng-click="sortType = 'quota' ; sortReverse = !sortReverse">
										<span>Remarks</span>
										<md-icon ng-show="sortType == 'quota' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'quota' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
							</tr>
							<tr ng-repeat="item in detail | orderBy:sortType:sortReverse">
								<td>{{item.full_name}}</td>
								<td>{{item.position}}</td>
								<td>{{item.experience}}</td>
								<td ng-repeat="item in item.results">
									<table class="table">
										<tr>
											<td class="no-spacing">{{item.productivity}}%</td>
											<td class="no-spacing">{{item.quality}}%</td>
										</tr>
									</table>
								</td>
								<td>{{item.productivity_average}}%</td>
								<td>{{item.quality_average}}%</td>
								<td ng-class="{'accent-text':item.quota=='Not met'}">{{item.quota}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<md-card layout="row" flex ng-if="!reports.length">
		<md-card-content>
			<p>No Records to show</p>
		</md-card-content>
	</md-card>
</div>
