<div class="fade-transition" flex layout-padding ng-if="reports">
	<div layout="row" layout-padding flex ng-repeat="detail in reports" ng-if="detail.length">
		<div flex>
			<div class="panel panel-default">
				<div class="panel-body" layout="column" flex>
					<div layout="row" layout-align="center center" flex>
						<div flex>					
							<canvas id="bar" class="chart chart-bar" chart-data="charts[$index].data" chart-labels="charts[$index].labels" chart-legend="true" chart-series="chart.series"></canvas>
						</div>
						<div flex="35">			
							<canvas id="pie" class="chart chart-pie" chart-data="charts[$index].position_head_count" chart-labels="charts[$index].positions" chart-legend="true"></canvas> 
						</div>					
					</div>
					<h2 class="md-headline primary-text">{{detail[0].name}}</h2>
					<p class="md-subhead">Program Head Count: <strong class="accent-text">{{detail[0].program_head_count}}</strong></p>
					<div layout="row" flex>	
						<table class="table">
							<tr>
								<td colspan="3"></td>
								<td ng-repeat="item in detail[0].results">{{ item.date_start }} to {{ item.date_end }}</td>
								<td colspan="{{detail[0].results.length + 3}}"></td>
							</tr>
							<tr>
								<th>Name</th>
								<th>Position</th>
								<th>Experience</th>
	
								<th ng-repeat="item in detail[0].results">
									<table class="table">
										<tr>
											<td class="no-spacing">Productivity</td>
											<td class="no-spacing">Quality</td>
										</tr>
									</table>
								</th>
								
								<th>Average Productivity</th>
								<th>Average Quality</th>
								<th>Remarks</th>
							</tr>
							<tr ng-repeat="item in detail">
								<td>{{item.full_name}}</td>
								<td>{{item.position}}</td>
								<td>{{item.experience}}</td>
								<td ng-repeat="item in item.results">
									<table class="table">
										<tr>
											<td class="no-spacing">{{item.productivity}}%</td>
											<td class="no-spacing">{{item.quality}}%</td>
										</tr>
									</table>
								</td>
								<td>{{item.productivity_average}}%</td>
								<td>{{item.quality_average}}%</td>
								<td>{{item.quota}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<md-card layout="row" flex ng-if="!reports.length">
		<md-card-content>
			<p>No Records to show</p>
		</md-card-content>
	</md-card>
</div>
