<div class="fade-transition" flex layout-padding ng-if="reports">
	<div layout="column" flex="50">
		<md-subheader class="md-no-sticky">Filters</md-subheader>
		<form name="form.searchMonthlyForm" layout="row" layout-margin layout-align="center center" novalidate>		
			<md-input-container flex>
				<label>Month</label>
				<md-select ng-model="report.month" name="Month" required>
					<md-option ng-repeat="month in months" value="{{ month }}">
						{{ month }}
					</md-option>
				</md-select>
				<div ng-messages="form.searchMonthlyForm.Month.$error" ng-if="form.searchMonthlyForm.Month.$touched">
					<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
				</div>
			</md-input-container>
			<md-input-container flex>
				<label>Year</label>
				<md-select ng-model="report.year" required name="Year">
					<md-option ng-repeat="year in years" value="{{ year }}">
						{{ year }}
					</md-option>
				</md-select>
				<div ng-messages="form.searchMonthlyForm.Year.$error" ng-if="form.searchMonthlyForm.Year.$touched">
					<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
				</div>
			</md-input-container>
			<md-input-container flex>
				<label>Daily Work Hours</label>
				<md-select ng-model="report.daily_work_hours" required name="DailyWorkHours">
					<md-option ng-repeat="hour in work_hours" value="{{ hour.daily_work_hours }}">
						{{ hour.label }} - {{ hour.daily_work_hours }} hour(s)
					</md-option>
				</md-select>
				<div ng-messages="form.searchMonthlyForm.DailyWorkHours.$error" ng-if="form.searchMonthlyForm.DailyWorkHours.$touched">
					<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
				</div>
			</md-input-container>
			<md-button class="md-fab md-mini md-primary" ng-click="searchMonthlyReport()">
				<md-icon class="mdi mdi-magnify grey"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</form>
	</div>
	<div layout="row" layout-padding flex ng-repeat="detail in reports" ng-if="detail.first_report">
		<div flex>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title primary-text">{{detail.date_start | date: 'MMMM dd, yyyy'}} to {{detail.date_end | date: 'MMMM dd, yyyy'}}</h3>
				</div>
				<div class="panel-body" layout="column" flex>
					<div layout="row" layout-align="center center" flex ng-if="detail.showCharts">
						<div flex="45">					
							<canvas id="bar" class="chart chart-bar" chart-data="detail.chart.data" chart-labels="detail.chart.labels" chart-legend="true" chart-series="detail.chart.series"></canvas>
						</div>
						<div flex layout="column" layout-align="end end">
							<table class="table">
								<tr>
									<th>Row Labels</th>
									<th>Sum of Total Output</th>
									<th>Sum of Total Man Hours</th>
									<th>Total Average Output</th>
								</tr>
								<tr>
									<th>Beginner</th>
									<td>{{detail.beginner_total_output | number: 1}}</td>
									<td>{{detail.beginner_total_hours_worked | number: 1}}</td>
									<td>{{detail.beginner_total_average_output | number: 1}}</td>
								</tr>
								<tr ng-repeat="position in detail.positions" ng-if="position.beginner_total_hours_worked">
									<td>{{position.name}}</td>
									<td>{{position.beginner_total_output | number: 1}}</td>
									<td>{{position.beginner_total_hours_worked | number: 1}}</td>
									<td>{{position.beginner_total_average_output | number: 1}}</td>
								</tr>
								<tr>
									<th>Moderately Experienced</th>
									<td>{{detail.moderately_experienced_total_output | number: 1}}</td>
									<td>{{detail.moderately_experienced_total_hours_worked | number: 1}}</td>
									<td>{{detail.moderately_experienced_total_average_output | number: 1}}</td>
								</tr>
								<tr ng-repeat="position in detail.positions" ng-if="position.moderately_experienced_total_hours_worked">
									<td>{{position.name}}</td>
									<td>{{position.moderately_experienced_total_output | number: 1}}</td>
									<td>{{position.moderately_experienced_total_hours_worked | number: 1}}</td>
									<td>{{position.moderately_experienced_total_average_output | number: 1}}</td>
								</tr>
								<tr>
									<th>Experienced</th>
									<td>{{detail.experienced_total_output | number: 1}}</td>
									<td>{{detail.experienced_total_hours_worked | number: 1}}</td>
									<td>{{detail.experienced_total_average_output | number: 1}}</td>
								</tr>
								<tr ng-repeat="position in detail.positions" ng-if="position.experienced_total_hours_worked">
									<td>{{position.name}}</td>
									<td>{{position.experienced_total_output | number: 1}}</td>
									<td>{{position.experienced_total_hours_worked | number: 1}}</td>
									<td>{{position.experienced_total_average_output | number: 1}}</td>
								</tr>
								<tr>
									<th>Grand Total</th>
									<th>{{detail.total_output | number: 1}}</th>
									<th>{{detail.total_hours_worked | number: 1}}</th>
									<th>{{detail.total_average_output | number: 1}}</th>
								</tr>
							</table>
							<!-- <md-button class="md-fab md-mini md-primary" aria-label="Download">
								<md-icon class="mdi mdi-download"></md-icon>
								<md-tooltip>Download</md-tooltip>
							</md-button> -->
						</div>					
					</div>
					<h3 class="md-headline primary-text">{{detail.name}}</h2>
					<p class="md-subhead">Program Head Count: <strong>{{detail.members.length}}</strong></p>
					<md-switch class="md-primary" ng-model="detail.showCharts" aria-label="detail.showCharts">
					    <span ng-if="!detail.showCharts">Show</span> <span ng-if="detail.showCharts">Hide</span> Charts
					</md-switch>
						<!-- <p class="md-body-1">Daliy Work Hours: <strong>{{detail[0].daily_work_hours | number:1}}</strong></p> -->
					<div layout="row" flex>	
						<table class="table">
							<!-- <tr>
								<td colspan="3"></td>
								<td ng-repeat="item in detail[0].results">{{ item.date_start }} to {{ item.date_end }}</td>
								<td colspan="{{detail[0].results.length + 3}}"></td>
							</tr> -->
							<tr>
								<th>
									<a href="#" class="main-text" ng-click="sortType = 'full_name' ; sortReverse = !sortReverse">	
										<span>Name</span>
										<md-icon ng-show="sortType == 'full_name' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'full_name' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<!-- <th>
									<a href="#" class="main-text" ng-click="sortType = 'position' ; sortReverse = !sortReverse">
										<span>Position</span>
										<md-icon ng-show="sortType == 'position' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'position' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th> -->
								<th>
									<a href="#" class="main-text" ng-click="sortType = 'experience' ; sortReverse = !sortReverse">
										<span>Category</span>
										<md-icon ng-show="sortType == 'experience' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'experience' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<!-- <th ng-repeat="item in detail[0].results">
									<table class="table">
										<tr>
											<td class="no-spacing">Productivity</td>
											<td class="no-spacing">Quality</td>
										</tr>
									</table>
								</th> -->
								<th>
									<a href="#" class="main-text" ng-click="sortType = 'productivity_average' ; sortReverse = !sortReverse">
										<span>Monthly Productivity</span>
										<md-icon ng-show="sortType == 'productivity_average' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'productivity_average' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="#" class="main-text" ng-click="sortType = 'quality_average' ; sortReverse = !sortReverse">
										<span>Monthly Quality</span>
										<md-icon ng-show="sortType == 'quality_average' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'quality_average' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<!-- <th>
									<a href="#" class="main-text" ng-click="sortType = 'quadrant' ; sortReverse = !sortReverse">
										<span>Quadrant</span>
										<md-icon ng-show="sortType == 'quadrant' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'quadrant' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th> -->
							</tr>
							<tr ng-repeat="item in detail.members | orderBy:sortType:sortReverse" ng-click="view(item, detail.date_start, detail.date_end)">
								<td>{{item.member.full_name}}</td>
								<!-- <td>{{item.position}}</td> -->
								<td>{{item.experience}}</td>
								<!-- <td ng-repeat="item in item.results">
									<table class="table">
										<tr>
											<td class="no-spacing">{{item.productivity}}%</td>
											<td class="no-spacing">{{item.quality}}%</td>
										</tr>
									</table>
								</td>
								<td ng-if="detail[0].results.length > item.results.length">
									<table class="table">
										<tr>
											<td class="no-spacing">&mdash;</td>
											<td class="no-spacing">&mdash;</td>
										</tr>
									</table>
								</td> -->
								<td><span ng-if="!item.average_productivity">0</span>{{item.average_productivity}}%</td>
								<td><span ng-if="!item.average_quality">0</span>{{item.average_quality}}%</td>
								<!-- <td>
									{{item.quadrant}}
									<md-tooltip ng-if="item.quadrant == 'Quadrant 1'">Producitivity is not met, but Quality is met.</md-tooltip>
									<md-tooltip ng-if="item.quadrant == 'Quadrant 2'">Producitivity and quality are both met.</md-tooltip>
									<md-tooltip ng-if="item.quadrant == 'Quadrant 3'">Producitivity is met, but Quality is not met.</md-tooltip>
									<md-tooltip ng-if="item.quadrant == 'Quadrant 4'">Producitivity and quality are both not met.</md-tooltip>
								</td> -->
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<md-card layout="row" flex ng-if="!reports.length">
		<md-card-content>
			<p>No records yet for the month of <strong class="primary-text">{{currentMonth}}</strong>. <br><em class="md-caption secondary-text">(Use the filters to view the previous months)</em></p>
		</md-card-content>
	</md-card>
</div>
