<!-- Search Results -->
<div class="fade-transition" layout="column" flex flex-gt-sm="70" ng-if="position.results && !position.show">
	<div layout-margin layout-padding>
		<md-card>
			<md-list>
				<md-list-item class="md-2-line" ng-click="edit(position.id)" layout="row" ng-repeat="position in position.results | filter:toolbar.userInput">
					<h2 class="md-avatar md-headline purple-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ position.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column" flex>
						<h3>{{ position.name }}</h3>
						<h4>{{ position.created_at }}</h4>
					</div>
				</md-list-item>
			</md-list>
			<md-card-content ng-if="!position.results.length">
				<p class="secondary-text">No results found.</p>
			</md-card-content>
		</md-card>
	</div>
</div>

<!-- All Data -->
<div class="fade-transition" ng-if="position.show" flex>
	<div layout="column" flex flex-gt-sm="70">
		<div layout-margin layout-padding>
			<md-card>
				<md-list>
					<md-list-item class="md-2-line" ng-click="edit(position.id)" layout="row" ng-repeat="position in position.all | filter:toolbar.userInput">
						<h2 class="md-avatar md-headline purple-bg" layout="row" layout-align="center center">
							<span class="weight-200 white-text">{{ position.first_letter }}</span>
						</h2>
						<div class="md-list-item-text" layout="column" flex>
							<h3>{{ position.name }}</h3>
							<h4>{{ position.created_at }}</h4>
						</div>
					</md-list-item>
				</md-list>
				<md-card-content ng-if="!position.all.length">
					<p class="secondary-text">No records yet.</p>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>