<div layout="row" layout-align="start center" flex>
	<md-button class="md-icon-button" ng-click="subheader.refresh()" ng-if="subheader.state!='report'">
		<md-icon class="mdi mdi-refresh grey" aria-label="Refresh"></md-icon>
		<md-tooltip>Refresh</md-tooltip>
	</md-button>
	<!-- <md-button class="md-icon-button" ng-click="subheader.download()" ng-if="subheader.state=='dashboard'">
		<md-icon class="mdi mdi-download grey" aria-label="Download"></md-icon>
		<md-tooltip>Download</md-tooltip>
	</md-button> -->
</div>