<div layout="row" layout-align="start center" flex flex-gt-sm="70">
	<div layout="row" ng-if="!searchBar" layout-align="start center">
		<md-button class="md-icon-button" ng-click="toolbar.back()" ng-if="toolbar.showBack">
			<md-icon class="mdi mdi-arrow-left grey" aria-label="Back"></md-icon>
		</md-button>
		<span class="md-headline main-text"> <span hide-md hide-sm>{{ toolbar.parentState }}</span>
			<md-icon class="mdi mdi-chevron-right grey" aria-label="chevron right" ng-if="toolbar.parentState && toolbar.childState" hide-md hide-sm></md-icon>
			<span ng-if="toolbar.childState">{{ toolbar.childState }}</span>
		</span>
	</div>
	<!-- Search Bar -->
	<div layout="row" ng-if="searchBar" flex layout-align="center center">
		<md-button class="md-icon-button" ng-click="hideSearchBar()">
			<md-icon class="mdi mdi-arrow-left grey" aria-label="Hide Search Bar"></md-icon>
		</md-button>
		<!-- Search Bar -->
		<div flex ng-include="'/app/components/admin/templates/search-bars.template.html'"></div>

		<md-button class="md-icon-button" ng-click="searchUserInput()">
			<md-icon class="mdi mdi-magnify grey" aria-label="Search"></md-icon>
			<md-tooltip>Search</md-tooltip>
		</md-button>
	</div>
	<!-- Icon Buttons -->
	<div flex layout="row" layout-align="end center" ng-if="!searchBar">
		<md-button class="md-icon-button" ng-click="showSearchBar()">
			<md-icon class="mdi mdi-magnify grey" aria-label="Search"></md-icon>
		</md-button>
		<md-button class="md-icon-button">
			<md-icon class="mdi mdi-bell grey" aria-label="Notifications"></md-icon>
		</md-button>
		<!-- Toggle Left Sidenav Button -->
		<md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-sm>
			<md-icon class="mdi mdi-menu grey" aria-label="Toogle Sidenav"></md-icon>
		</md-button>
	</div>
</div>