<!-- Search reports -->
<div class="fade-transition" layout="column" flex flex-gt-sm="70" ng-if="report.reports && !report.paginated.show">
	<div layout-margin layout-padding>
		<md-card>
			<md-list>
				<md-list-item class="md-2-line" ng-click="show(report.id)" layout="row" ng-repeat="report in report.reports | filter:toolbar.userInput">
					<h2 class="md-avatar md-headline purple-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ report.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column" flex>
						<h3>{{ report.name }} {{ report.first_name }} {{ report.last_name }}</h3>
						<h4>{{ report.department_name }}</h4>
					</div>
				</md-list-item>
			</md-list>
			<md-card-content ng-if="!report.reports.length">
				<p class="secondary-text">No reports found.</p>
			</md-card-content>
		</md-card>
	</div>
</div>

<!-- Paginated Data -->
<div class="fade-transition"  flex infinite-scroll='report.paginateLoad()' infinite-scroll-distance="2" infinite-scroll-disabled="report.busy" infinite-scroll-parent>
	<div layout="row" layout-padding flex ng-repeat="report in report.paginated | filter: toolbar.userInput">
		<div flex>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="primary-text md-title">{{ report[0].date_start }} to {{ report[0].date_end }}</span>
				</div>
				<div class="panel-body" layout="column">
					<!-- Chart	-->
					<canvas id="bar-{{$index}}" class="chart chart-bar" chart-data="charts.data[$index]" chart-labels="charts.labels" chart-legend="true" chart-series="charts.series[$index]">
					</canvas>
					<h2 class="primary-text md-headline">{{ report[0].project }}</h2>
					<!-- <h3 class="secondary-text md-subhead">{{ report[0].position }}</h3> -->
					<div layout="row" flex>					
						<table class="table">
							<tr>
								<th>Name</th>
								<th>Position</th>
								<th>Experience</th>
								<th>Hours Worked</th>
								<th>Output</th>
								<th>Output w/Error(s)</th>
								<th>Average Output</th>
								<th>Productivity</th>
								<th>Quality</th>
							</tr>
							<tr ng-repeat="item in report | filter: toolbar.userInput">
								<td>{{ item.full_name }}</td>
								<td>{{ item.position }}</td>
								<td>{{ item.experience }}</td>
								<td>{{ item.hours_worked }}</td>
								<td>{{ item.output }}</td>
								<td>{{ item.output_error }}</td>
								<td>{{ item.average_output }}</td>
								<td>{{ item.productivity }}%</td>
								<td>{{ item.quality }}%</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>