<div class="fade-transition" ng-if="show">
	<div flex flex-gt-sm="70" layout-padding layout-margin>
		<form name="form.createReportForm" novalidate>
			<!-- Report Details -->
			<md-card>
				<md-toolbar class="md-primary">
					<div class="md-toolbar-tools">
						<h2>Report Details</h2>
					</div>
				</md-toolbar>
				<md-subheader class="md-accent md-no-sticky">
					<span>Date Coverage</span>
				</md-subheader>
				<md-card-content>
					<div layout="row" layout-align="center center">
						<!-- Date Start Month -->
						<md-input-container flex>
							<label>Month</label>
							<md-select name="DateStartMonth" ng-model="details.date_start_month" required ng-change="getMondays()">
								<md-option ng-repeat="month in months" value="{{month}}">{{month}}</md-option>
							</md-select>
							<div ng-messages="form.createReportForm.DateStartMonth.$error" ng-if="form.createReportForm.DateStartMonth.$touched">
								<div ng-messages-include="/app/shared/templates/validation-message-date.html"></div>
							</div>
						</md-input-container>
						<!-- Mondays -->
						<md-input-container flex>
							<label>Date Start</label>
							<md-select name="DateStart" ng-model="details.date_start" required ng-change="getWeekends()">
								<md-option ng-repeat="monday in mondays.mondays" value="{{monday}}">{{mondays.day[$index]}}</md-option>
							</md-select>
							<div class="hint" ng-if="!showErrors">Date Start is always Monday</div>
							<div ng-messages="form.createReportForm.DateStart.$error" ng-if="form.createReportForm.DateStart.$touched && showErrors">
								<div ng-messages-include="/app/shared/templates/validation-message-date.html"></div>
							</div>
						</md-input-container>
						<span flex="5" class="center-text">to</span>
						<!-- Weekend -->
						<md-input-container flex>
							<label>Date End</label>
							<md-select name="DateStart" ng-model="details.date_end" required ng-change="resetMembers()">
								<md-option ng-repeat="weekend in weekends.weekends" value="{{weekend}}">{{weekends.day[$index]}}</md-option>
							</md-select>
							<div class="hint" ng-if="!showErrors">Date End is either Friday or Saturday</div>
							<div ng-messages="form.createReportForm.DateStart.$error" ng-if="form.createReportForm.DateStart.$touched && showErrors">
								<div ng-messages-include="/app/shared/templates/validation-message-date.html"></div>
							</div>
						</md-input-container>
						<!-- Date Start Year -->
						<md-input-container flex>
							<label>Year</label>
							<md-select name="DateStartYear" ng-model="details.date_start_year" required ng-change="getMondays()">
								<md-option ng-repeat="year in years" value="{{year}}">{{year}}</md-option>
							</md-select>
							<div ng-messages="form.createReportForm.DateStartYear.$error" ng-if="form.createReportForm.DateStartYear.$touched">
								<div ng-messages-include="/app/shared/templates/validation-message-date.html"></div>
							</div>
						</md-input-container>
					</div>
					<div layout="row">
						<!-- Project -->
						<md-input-container flex>
							<label>Project</label>
							<md-select name="Project" required ng-model="details.project_id" ng-change="showPositions(details.project_id)">
								<md-option ng-repeat="project in projects" value="{{ project.id }}">
									{{ project.name }}
								</md-option>
							</md-select>
							<div ng-messages="form.createReportForm.Project.$error" ng-if="form.createReportForm.Project.$touched">
								<div ng-messages-include="/app/shared/templates/validation-message-report.html"></div>
							</div>
						</md-input-container>
						<!-- Daily Work Hours -->
						<md-input-container flex>
							<label>Daily Work Hours</label>
							<md-select name="WorkHours" ng-change="resetMembers()" required ng-model="details.daily_work_hours">
								<md-option ng-repeat="hour in work_hours" value="{{ hour.daily_work_hours }}">
									{{ hour.label }} - {{ hour.daily_work_hours }} hour(s)
								</md-option>
							</md-select>
							<div ng-messages="form.createReportForm.WorkHours.$error" ng-if="form.createReportForm.WorkHours.$touched">
								<div ng-messages-include="/app/shared/templates/validation-message-report.html"></div>
							</div>
							<div class="hint" ng-if="details.weekly_hours">Maximum work hours can be rendered is {{details.weekly_hours}} hours</div>
						</md-input-container>
					</div>
				</md-card-content>		
			</md-card>
			<div ng-if="details.date_start && details.date_end && details.project_id && details.daily_work_hours" class="fade-transition">
				<!-- Members -->
				<md-subheader class="md-no-sticky md-accent">
					<span>Members</span>
				</md-subheader>
				<md-card ng-repeat="member in members | filter:details.project_id | filter:toolbar.userInput">
					<md-card-content>
						<md-list layout="row" layout-align="space-between center">
							<md-list-item class="md-2-line" layout="row">
								<h2 class="md-avatar md-headline purple-bg" layout="row" layout-align="center center">
									<span class="weight-200 white-text">{{ member.first_letter }}</span>
								</h2>
								<div class="md-list-item-text" layout="column" flex>
									<h3>{{ member.member.full_name }}</h3>
									<h4>Date Started: {{ member.date_started | date: 'EEEE, MMMM d, yyyy'}}</h4>
									<p>{{ member.experience }} 
										<span class="accent-text" ng-if="member.limit == 0">(Work hours per week reached.)</span>
									</p>
								</div>
							</md-list-item>
							<md-checkbox ng-change="checkLimit($index)" ng-if="member.limit > 0" ng-model="member.include">
								<md-tooltip>Mark to Include</md-tooltip>
							</md-checkbox>
						</md-list>
						<div ng-if="member.include" class="fade-transition">
							<div ng-if="member.limit > 0" layout="column">
								<!-- Position -->
								<md-input-container flex>
									<label>Position</label>
									<md-select name="Position{{$index}}" required ng-model="member.position_id">
										<md-option ng-repeat="position in positions" value="{{ position.id }}">
											{{ position.name }}
										</md-option>
									</md-select>
									<div ng-messages="form.createReportForm['Position' + $index].$error" ng-if="form.createReportForm['Position' + $index].$touched">
										<div ng-messages-include="/app/shared/templates/validation-message-report.html"></div>
									</div>
								</md-input-container>
								<div layout="row">
									<!-- Total Output -->
									<md-input-container flex>
										<label>Total Output</label>
										<input name="Output{{$index}}" type="number" min="0.1" required ng-model="member.output">
										<div class="hint" ng-if="!showErrors">Output must not be less than one.</div>
										<div ng-messages="form.createReportForm['Output' + $index].$error" ng-if="form.createReportForm['Output' + $index].$touched && showErrors">
											<div ng-message="required">Total output is required.</div>
											<div ng-message="min">Total Output must not be lower than one.</div>
										</div>
									</md-input-container>
									<!-- Total Hours Worked -->
									<md-input-container flex>
										<label>Total Hours Worked</label>
										<input name="HoursWorked{{$index}}" type="number" min="0.1" max="{{ member.limit }}" step="0.5" required ng-model="member.hours_worked" ng-blur="checkBalance(member)">
										<div ng-messages="form.createReportForm['HoursWorked' + $index].$error" ng-if="form.createReportForm['HoursWorked' + $index].$touched">
											<!-- <div ng-messages-include="/app/shared/templates/validation-message.html"></div> -->
											<div ng-message="required">Total hours worked is required.</div>
											<div ng-message="min">Total hours worked must not be less than 0</div>
											<div ng-message="max">Total hours worked cannot be more than {{ member.limit }}.</div>
										</div>
										<div class="hint" ng-if="member.balance">{{ member.member.full_name }} still needs to render {{member.balance}} hour(s)</div>
									</md-input-container>
									<!-- Total Output w/error -->
									<md-input-container flex>
										<label>Total Output w/Error</label>
										<input name="OutputError{{$index}}" type="number" min="0" max="{{member.output}}" required ng-model="member.output_error">
										<div ng-messages="form.createReportForm['OutputError' + $index].$error" ng-if="form.createReportForm['OutputError' + $index].$touched">
											<!-- <div ng-messages-include="/app/shared/templates/validation-message-report.html"></div> -->
											<div ng-message="required">Total output with error worked is required.</div>
											<div ng-message="min">Total output with error must not be less than 0.</div>
											<div ng-message="max">Total output with error cannot be more than total output.</div>
										</div>
									</md-input-container>
								</div>
							</div>
						</div>
					</md-card-content>
				</md-card>
			</div>
		</form>
	</div>
</div>