<ul class="no-padding">
	<li flex class="blur-white" layout="row" layout-align="start center">
		<span flex="5"></span>
		<h2 class="md-subhead white-text">Productivity and Quality Report</h2>
	</li>
	<li class="section" flex>
		<div layout="row" class="section-button-container">
			<md-button flex ng-click="setActive(0)" aria-label="section-0" ui-sref-active="active" ui-sref="main">
				<div layout="row" flex>
					<span class="white-text">Dashboard</span>
				</div>
			</md-button>
		</div>
	</li>
	<li ng-repeat="section in menu.section" class="section" flex>
		<div layout="row" class="section-button-container">
			<md-button flex ng-click="setActive($index + 1)" aria-label="section-{{ $index + 1}}">
				<div layout="row" flex>
					<span class="white-text">{{ section.name }}</span>
					<span flex></span>
					<md-icon class="mdi mdi-chevron-down rotate-icon"></md-icon>
				</div>
			</md-button>
		</div>
		<!-- Child -->
		<ul class="pages no-padding">
			<li layout="row" ui-sref-active="active" ng-repeat="department in menu.departments" ng-if="section.name=='Weekly Report'">
				<md-button flex ui-sref="main.weekly-report({'departmentID':{{ department.id }} })">
					<div layout="row" flex>
						<span flex="5"></span>
						<span class="white-text">{{ department.name }}</span>
						<span flex></span>
					</div>
				</md-button>
			</li>
			<li layout="row" ui-sref-active="active" ng-repeat="setting in menu.settings" ng-if="section.name=='Settings'">
				<md-button flex ui-sref="{{ setting.state }}">
					<div layout="row" flex>
						<span flex="5"></span>
						<span class="white-text">{{ setting.name }}</span>
						<span flex></span>
					</div>
				</md-button>
			</li>
		</ul>
	</li>
</ul>