/* Deep Purple - Pink */
/* Animation duration */
/* mixin to call specific animation */
body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  /*background: rgba(0,0,0,0.1); */
  border-radius: 10px;
  /*border:1px gray solid;*/ }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  /*&:not(:active){
        background: none;
        border:0px solid rgba(0,0,0,0.5);
    }   */ }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3); }
  ::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5); }

a:hover {
  text-decoration: none;
  color: #212121; }

a:focus {
  text-decoration: none;
  color: #212121; }

.mdi {
  font-size: 24px;
  vertical-align: middle;
  color: white; }

.md-mini .mdi {
  font-size: 21px; }

.mdi.grey {
  color: #727272; }

.mdi.pink {
  color: #FF4081; }

.mdi.baseline {
  vertical-align: baseline; }

/* Text Colors Classes */
.primary-text {
  /* Blue */
  color: #2196F3; }

.accent-text {
  /* Light Blue */
  color: #FF4081; }

.white-text {
  /* White */
  color: #fff; }

.main-text {
  /* Dark Text */
  color: #212121; }

.secondary-text {
  /* Grey Text */
  color: #727272; }

/* Text Alignments */
.left-text {
  text-align: left; }

.center-text, td, th {
  text-align: center; }

.right-text {
  text-align: right; }

/* Font Weights*/
.weight-300 {
  font-weight: 300; }

.weight-200 {
  font-weight: 200; }

.weight-100 {
  font-weight: 100; }

.main-view {
  /* main ui-router view */
  min-height: 100vh;
  position: relative;
  overflow: auto; }

/* Stretch to full height */
.full-height-min {
  min-height: 100vh; }

/* Max height 100% of viewport*/
.full-height-max {
  max-height: 100vh; }

.full-width-min {
  min-width: 100%; }

/* Toolbar Background */
md-toolbar.white-toolbar {
  background-color: white; }

.site-logo img {
  max-width: 35%;
  max-height: 100%; }

.site-logo-large img {
  max-width: 60%;
  max-height: 100%; }

.personiv-logo {
  height: 110px; }

.hidden-custom {
  opacity: 0; }

#main {
  background: url("/assets/img/OO7XQL3Q9C.jpg");
  background-size: cover;
  transition: all 1s; }

.main-content {
  background: rgba(33, 33, 33, 0.5); }

/* Background colors */
md-content.dirty-white {
  background: #eeeeee; }

md-content.purple-bg {
  background: #2196F3; }

.purple-bg {
  background: #2196F3; }

.orange-bg {
  background: #FF9800; }

.blue-bg {
  background: #2196F3; }

.teal-bg {
  background: #009688; }

.pink-bg {
  background: #FF4081; }

.blur-white {
  background: rgba(255, 255, 255, 0.1); }

.badge {
  background: #FF4081; }

.copyrights {
  min-height: 110px;
  width: 100%;
  text-align: center;
  color: #727272;
  padding: 15px 0px; }

.left-border {
  border-left: 1px solid rgba(0, 0, 0, 0.12); }

.form {
  width: 300px; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

.md-button.md-fab.z-index-75 {
  z-index: 75; }

.purple-border-left {
  border-left: 2px solid #2196F3; }

.progress-dialog {
  background: transparent;
  box-shadow: none; }

.md-datepicker-calendar {
  background: white; }

.md-calendar-day-header {
  background: #2196F3;
  color: white; }

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px; }
  .datepicker.dropdown-menu button {
    outline: none;
    border: 0px; }
  .datepicker.dropdown-menu tbody {
    height: 180px; }
  .datepicker.dropdown-menu tbody button {
    padding: 6px; }
  .datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px; }

.pattern {
  position: absolute;
  font-size: 12px;
  color: #F44336;
  line-height: 24px; }

.wide-form {
  width: 450px;
  min-width: 300px; }

.no-padding {
  padding: 0px; }

.avatar-container {
  min-height: 150px;
  background: #1976D2; }
  .avatar-container .avatar-section {
    background: url("/assets/img/bg.png");
    background-size: cover;
    background-position: center center; }
  .avatar-container img {
    width: 75px;
    height: 75px;
    border-radius: 50%; }
  .avatar-container .shade {
    background: rgba(0, 0, 0, 0.3); }

.pages {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1); }
  .pages .active {
    background: rgba(255, 255, 255, 0.1); }

.rotate-icon {
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out; }

.active .section-button-container {
  background: rgba(255, 255, 255, 0.1); }

.active .pages {
  height: auto;
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1); }

.active .rotate-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out; }

.round {
  border-radius: 50%; }

.hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey; }

.hint.ng-hide, .hint.ng-enter, .hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0; }

.hint.ng-leave, .hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1; }

.table > tbody > tr > td.no-spacing {
  padding: 0px;
  border: none; }

.dots {
  width: 10px;
  height: 10px;
  border-radius: 50%; }
  .dots.primary {
    background: #2196F3; }
  .dots.accent {
    background: #FF4081; }

/* transition duration */
.transition, .fade-transition, .main-view {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2); }

.fade-transition, #content, #toolbar, #left-sidenav, #right-sidenav {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* animations for ng-repeat and ng-if */
.fade-transition.ng-enter {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.fade-transition.ng-leave {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

/* animations for state transitions */
.main-view.ng-enter #content, .main-view.ng-enter #toolbar, .main-view.ng-enter #left-sidenav, .main-view.ng-enter #right-sidenav {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.main-view.ng-leave #content, .main-view.ng-leave #toolbar, .main-view.ng-leave #left-sidenav, .main-view.ng-leave #right-sidenav {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

/*# sourceMappingURL=admin.css.map */
