<md-dialog layout="column" flex flex-gt-md="50"  aria-label="New Team Leader" ng-cloak>
	<form name="addTeamLeaderForm" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>New User</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon class="mdi mdi-close" aria-label="cancel"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content layout="column" flex layout-padding layout-wrap>
			<div layout="row" layout-wrap flex>
				<!-- First Name -->
				<md-input-container flex flex-sm="100" flex-md="100" flex-gt-lg>
					<label>First Name</label>
					<input type="text" name="FirstName" required ng-model="user.first_name" ng-pattern="/^[a-zA-Z ]+$/">
					<div ng-messages="addTeamLeaderForm.FirstName.$error" ng-if="addTeamLeaderForm.FirstName.$touched">
						<div ng-message="required">First name is required.</div>
                        <div ng-message="pattern">Characters and spaces only.</div>
					</div>
				</md-input-container>
				<!-- Last Name -->
				<md-input-container flex flex-sm="100" flex-md="100" flex-gt-lg>
					<label>Last Name</label>
					<input type="text" name="LastName" required ng-model="user.last_name" ng-pattern="/^[a-zA-Z ]+$/">
					<div ng-messages="addTeamLeaderForm.LastName.$error" ng-if="addTeamLeaderForm.LastName.$touched">
						<div ng-message="required">Last name is required.</div>
                        <div ng-message="pattern">Characters and spaces only.</div>
					</div>
				</md-input-container>
			</div>
			<div layout="row" layout-align="space-between center" flex>			
				<!-- Department -->
				<md-input-container flex>
					<label>Department</label>
					<md-select required name="Department" ng-model="user.department_id">
						<md-option ng-repeat="department in departments" value="{{ department.id }}">
							{{ department.name }}
						</md-option>
					</md-select>
					<div ng-messages="addTeamLeaderForm.Department.$error" ng-if="addTeamLeaderForm.Department.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
					</div>
				</md-input-container>
	
				<!-- Role -->
				<md-radio-group ng-model="user.role" layout="row" flex>
			    	<md-radio-button value="team-leader" class="md-primary" flex>Team Leader</md-radio-button>
			      	<md-radio-button value="manager" class="md-primary" flex>Manager</md-radio-button>
			    </md-radio-group>
			</div>
			<div layout="column" flex>
				<!-- Email -->
				<md-input-container flex>
					<label>Email</label>
					<input type="email" name="Email" ng-model="user.email" required ng-blur="checkEmail()">
					<div ng-messages="addTeamLeaderForm.Email.$error" ng-if="addTeamLeaderForm.Email.$touched">
						<div ng-message="required">Email is required.</div>
					</div>
					<div class="pattern" ng-if="duplicate">Email is already in use.</div>
				</md-input-container>
			</div>
			<div layout="row" layout-wrap flex>
				<!-- Password -->
				<md-input-container flex flex-sm="100" flex-md="100" flex-gt-lg>
					<label>Password</label>
					<input type="password" name="Password" ng-model="user.password" required ng-minlength="6">
					<div ng-messages="addTeamLeaderForm.Password.$error" ng-if="addTeamLeaderForm.Password.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
						<div ng-if="user.password != user.password_confirmation && addTeamLeaderForm.Password.$valid && addTeamLeaderForm.PasswordConfirmation.$touched">Passwords doesn't match.</div>
					</div>
				</md-input-container>
				<!-- Password Confirmation -->
				<md-input-container flex flex-sm="100" flex-md="100" flex-gt-lg>
					<label>Confirm Password</label>
					<input type="password" name="PasswordConfirmation" ng-model="user.password_confirmation" required ng-minlength="6">
					<div ng-messages="addTeamLeaderForm.PasswordConfirmation.$error" ng-if="addTeamLeaderForm.PasswordConfirmation.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
						<div ng-if="user.password != user.password_confirmation && addTeamLeaderForm.PasswordConfirmation.$valid && addTeamLeaderForm.Password.$touched">Passwords doesn't match.</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
	</form>
	<div layout="row" layout-align="end center">		
		<md-button class="md-fab md-primary" aria-label="Submit" ng-click="submit()">
			<md-icon class="mdi mdi-check"></md-icon>
		</md-button>
	</div>
</md-dialog>