<md-dialog layout="column" flex flex-gt-md="50"  aria-label="Download Report" ng-cloak>
	<form name="downloadReportForm" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Download Reports</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon class="mdi mdi-close" aria-label="cancel"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content layout="column" flex layout-padding layout-wrap>
			<md-radio-group ng-model="details.type" layout="row">
			    <md-radio-button value="Weekly">Weekly</md-radio-button>
		      	<md-radio-button value="Monthly">Monthly</md-radio-button>
		    </md-radio-group>
			<div ng-if="details.type=='Weekly'" layout="row">
				<!-- Date Start -->
				<md-input-container flex>
					<label>Date Start</label>
					<input type="text" name="DateStart" required ng-model="details.date_start" data-date-format="yyyy-MM-dd" data-max-date="today" data-autoclose="1" bs-datepicker data-timezone="UTC">
					<div ng-messages="downloadReportForm.DateStart.$error" ng-if="downloadReportForm.DateStart.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
					</div>
				</md-input-container>
				<!-- Date End -->
				<md-input-container flex>
					<label>Date End</label>
					<input type="text" name="DateEnd" required ng-model="details.date_end" data-date-format="yyyy-MM-dd" data-max-date="today" data-min-date="{{details.date_start}}" data-autoclose="1" bs-datepicker data-timezone="UTC">
					<div ng-messages="downloadReportForm.DateEnd.$error" ng-if="downloadReportForm.DateEnd.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
					</div>
				</md-input-container>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
			<div layout-padding ng-if="details.type=='Monthly'" layout="row">
				<md-input-container flex>
					<label>Month</label>
					<md-select name="Month" required ng-model="details.month">
						<md-option ng-repeat="month in months" value="{{month.value}}">
							{{ month.month }}
						</md-option>
					</md-select>
					<div ng-messages="downloadReportForm.Month.$error" ng-if="downloadReportForm.Month.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
					</div>
				</md-input-container>

				<md-input-container flex>
					<label>Year</label>
					<md-select name="Year" required ng-model="details.year">
						<md-option ng-repeat="year in years" value="{{ year }}">
							{{ year }}
						</md-option>
					</md-select>
					<div ng-messages="downloadReportForm.Year.$error" ng-if="downloadReportForm.Year.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
	</form>
	<div layout="row" layout-align="end center">		
		<md-button class="md-fab md-primary" aria-label="Submit" ng-click="submit()">
			<md-icon class="mdi mdi-check"></md-icon>
		</md-button>
	</div>
</md-dialog>