<md-dialog layout="column" flex flex-gt-md="50"  aria-label="Add {{ project.name }} Position" ng-cloak>
	<form name="editPositionForm" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Edit {{ project.name }} Position</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon class="mdi mdi-close" aria-label="cancel"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content layout="column" flex layout-padding>
			<div layout="row" flex>			
				<md-input-container flex>
					<label>Position</label>
					<input type="text" name="Position" required ng-model="position.name">
					<div ng-messages="editPositionForm.Position.$error" ng-if="editPositionForm.Position.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
					</div>
				</md-input-container>
				<h4>Effective Date</h4>
				<md-datepicker name="EffectiveDate" ng-model="position.effective_date" md-placeholder="Enter date" required></md-datepicker>
				<div class="validation-messages" ng-messages="editPositionForm.EffectiveDate.$error">
					<div ng-message="valid">The entered value is not a date!</div>
					<div ng-message="required">Effective date is required!</div>
				</div>
			</div>
			
			<div ng-repeat="experience in experiences" flex layout="column">
				<md-subheader class="md-no-sticky md-accent" flex>
					<p>{{ experience.name }} <span>({{ experience.duration }})</span></p>
				</md-subheader>
				<div layout="row" layout-wrap flex>
					<!-- Productivity -->
					<md-input-container flex flex-sm="100" flex-md="100" flex-gt-lg>
						<label>{{ productivity[$index].type }}</label>
						<input type="number" name="Productivity{{$index}}" required ng-model="productivity[$index].value" min="0">
						<div ng-messages="editPositionForm['Productivity' + $index].$error" ng-if="editPositionForm.Productivity.$touched && showErrors">
							<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
						</div>
					</md-input-container>

					<!-- Quality -->
					<md-input-container flex flex-sm="100" flex-md="100" flex-gt-lg>
						<label>{{ quality[$index].type }}</label>
						<input type="number" name="Quality{{$index}}" required ng-model="quality[$index].value" min="0" max="100">
						<div class="hint" ng-if="!showErrors">Percentage Value (1-100)</div>
						<div ng-messages="editPositionForm['Quality' + $index].$error" ng-if="editPositionForm['Quality' + $index].$touched && showErrors">
							<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
						</div>
					</md-input-container>
				</div>
			</div>
		</md-dialog-content>
	</form>
	<div layout="row" layout-align="end center">		
		<md-button class="md-fab md-primary" aria-label="Submit" ng-click="submit()">
			<md-icon class="mdi mdi-check"></md-icon>
		</md-button>
	</div>
</md-dialog>