<md-dialog layout="column" flex flex-gt-md="50"  aria-label="Performance Evaluation" ng-cloak>
	<form name="performanceEvaluationForm" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Performance Evaluation</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon class="mdi mdi-close" aria-label="cancel"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content layout="column" flex layout-padding layout-wrap>
			<div layout="row">
				<div flex>
					<h4>Date Start</h4>
					<md-datepicker name="DateStart" ng-model="details.date_start" md-placeholder="Date Start" required></md-datepicker>
			        <div class="validation-messages" ng-messages="performanceEvaluationForm.DateStart.$error" ng-if="performanceEvaluationForm.DateStart.$touched">
			        	<div ng-message="valid">The entered value is not a date!</div>
			        	<div ng-message="required">Date start is required.</div>
			        </div>
				</div>
				<div flex>
					<h4>Date End</h4>
					<md-datepicker name="DateEnd" ng-model="details.date_end" md-placeholder="Date End" required md-min-date="details.date_start" md-max-date="maxDate"></md-datepicker>
			        <div class="validation-messages" ng-messages="performanceEvaluationForm.DateEnd.$error" ng-if="performanceEvaluationForm.DateEnd.$touched">
			        	<div ng-message="valid">The entered value is not a date!</div>
			        	<div ng-message="required">Date end is required.</div>
			        </div>
				</div>
			</div>
			<div layout="row">				
				<!-- Daily Work Hours -->
				<md-input-container flex>
					<label>Daily Work Hours</label>
					<md-select name="WorkHours" required ng-model="details.daily_work_hours">
						<md-option ng-repeat="hour in work_hours" value="{{ hour.daily_work_hours }}">
							{{ hour.label }} - {{ hour.daily_work_hours }} hour(s)
						</md-option>
					</md-select>
					<div ng-messages="performanceEvaluationForm.WorkHours.$error" ng-if="performanceEvaluationForm.WorkHours.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message-report.html"></div>
					</div>
				</md-input-container>
				<md-input-container flex>
					<label>Departments</label>
					<md-select name="Departments" required ng-model="details.department" ng-change="fetchProjects()">
						<md-option ng-repeat="department in departments" value="{{ department.id }}">
							{{ department.name }}
						</md-option>
					</md-select>
					<div ng-messages="performanceEvaluationForm.Departments.$error" ng-if="performanceEvaluationForm.Departments.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message-report.html"></div>
					</div>
				</md-input-container>
			</div>
			<div layout="row">				
				<!-- Project -->
				<md-input-container flex>
					<label>Project</label>
					<md-select name="Project" required ng-model="details.project" ng-disabled="!details.department" ng-change="fetchMembers()">
						<md-option value="all" ng-if="projects.length > 1">
							All Projects
						</md-option>
						<md-option ng-repeat="project in projects" value="{{ project.id }}">
							{{project.name}}
						</md-option>
					</md-select>
					<div ng-messages="performanceEvaluationForm.Project.$error" ng-if="performanceEvaluationForm.Project.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message-report.html"></div>
					</div>
				</md-input-container>
				<md-input-container flex>
					<label>Position</label>
					<md-select name="Position" required ng-model="details.position" ng-disabled="!details.project">
						<md-option ng-repeat="position in positions" value="{{ position.id }}">
							{{ position.name }}
						</md-option>
					</md-select>
					<div ng-messages="performanceEvaluationForm.Position.$error" ng-if="performanceEvaluationForm.Position.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message-report.html"></div>
					</div>
				</md-input-container>
			</div>
			<md-input-container flex>
				<label>Member</label>
				<md-select name="Members" required ng-model="details.member" ng-disabled="!details.position">
					<md-option ng-repeat="member in members" value="{{ member.member_id }}">
						{{ member.full_name }}
					</md-option>
				</md-select>
				<div ng-messages="performanceEvaluationForm.Members.$error" ng-if="performanceEvaluationForm.Members.$touched">
					<div ng-messages-include="/app/shared/templates/validation-message-report.html"></div>
				</div>
			</md-input-container>
		</md-dialog-content>
	</form>
	<div layout="row" layout-align="end center">		
		<md-button class="md-fab md-primary" aria-label="Submit" ng-click="submit()">
			<md-icon class="mdi mdi-check"></md-icon>
		</md-button>
	</div>
</md-dialog>