<!-- Search reports -->
<div class="fade-transition" flex ng-if="report.results && !report.show">
	<div layout="row" layout-padding flex ng-repeat="report in report.results | filter: {user_id:filterData.submitter} | filter: projects[filterData.project].name | filter:filterDate.date_start | filter:filterDate.date_end | filter: toolbar.userInput">
		<div flex>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="primary-text md-title">{{ report.date_start | date: 'MMMM dd, yyyy'}} to {{ report.date_end | date: 'MMMM dd, yyyy'}}</span>
				</div>
				<div class="panel-body" layout="column">
					<div layout="row" flex ng-if="report.showCharts" class="fade-transition">
						<!-- <div layout="column" flex="65">
							<md-radio-group ng-model="report.chartType" layout="row">
								<md-radio-button value="bar" class="md-primary">Bar</md-radio-button>
								<md-radio-button value="line" class="md-primary">Line</md-radio-button>
							</md-radio-group>
							<div layout="row">
								<div flex>
									Bar
									<canvas ng-if="report.chartType=='bar'" class="chart chart-bar" chart-data="report.charts.productivity.data" chart-labels="report.charts.productivity.labels"  chart-series="report.charts.productivity.series"></canvas>
									Line
									<canvas ng-if="report.chartType=='line'" class="chart chart-line" chart-data="report.charts.productivity.data" chart-labels="report.charts.productivity.labels"  chart-series="report.charts.productivity.series"></canvas>
									
									<h3 class="md-subhead center-text">Productivity</h3>					
								</div>
								<div flex>					
									Bar
									<canvas ng-if="report.chartType=='bar'" class="chart chart-bar" chart-data="report.charts.quality.data" chart-labels="report.charts.quality.labels" chart-series="report.charts.quality.series" chart-colours="['#FF4081']"></canvas>
									Line
									<canvas ng-if="report.chartType=='line'" class="chart chart-line" chart-data="report.charts.quality.data" chart-labels="report.charts.quality.labels"  chart-series="report.charts.quality.series" chart-colours="['#FF4081']"></canvas>
											
									<h3 class="md-subhead center-text">Quality</h3>					
								</div>
							</div>
						</div> -->
						<div flex>						
							<table class="table">
								<tr>
									<th colspan="4">Targets</th>
								</tr>
								<tr>
									<th>Productivity</th>
									<th ng-repeat="position in report.project.positions">{{position.name}}</th>
								</tr>
								<tr>
									<td>Beginner (less than 3 months)</td>
									<td ng-repeat="beginner in report.project.beginner">{{beginner}}</td>
								</tr>
								<tr>
									<td>Moderately Experienced (3 to 6 months)</td>
									<td ng-repeat="moderately_experience in report.project.moderately_experienced">{{moderately_experience}}</td>
								</tr>
								<tr>
									<td>Experienced (6 months and beyond)</td>
									<td ng-repeat="experience in report.project.experienced">{{experience}}</td>
								</tr>
								<tr>
									<th>Quality</th>
									<td ng-repeat="quality in report.project.quality track by $index">{{quality}}%</td>
								</tr>
							</table>
						</div>					
					</div>
					<h2 class="primary-text md-headline">{{ report.project.name }}</h2>
					<p>Submitted by: {{report.team_leader.first_name}} {{report.team_leader.last_name}} {{report.team_leader.last_name}}</p>
					<p ng-if="report.locked" class="secondary-text"><em>*Report is locked for any changes.</em></p>
					<p ng-if="!report.locked && !hideDateDiff" class="secondary-text"><em>*Report will lock in {{ 8 - report.diffDays}} day(s).</em></p>
					<div layout="row" layout-align="space-between center">
						<!-- <h3 class="secondary-text md-subhead">Daily Work Hours: {{ details[0].daily_work_hours | number:1 }} hours</h3> -->
						<div layout="row">
							<md-switch class="md-primary" ng-model="report.showCharts" aria-label="report.showCharts">
							    <span ng-if="!report.showCharts">Show</span> <span ng-if="report.showCharts">Hide</span> Targets
							</md-switch>
							<md-menu ng-if="!report.locked">
						    	<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
							        <md-icon class="mdi mdi-dots-horizontal grey"></md-icon>
							        <md-tooltip>Menu</md-tooltip>
							    </md-button>
							    <md-menu-content width="2">
							        <md-menu-item ng-if="user.role!='manager'">
							          	<!-- Edit -->
										<md-button ng-click="editReport(report.id)">
											<md-icon class="mdi mdi-pencil grey"></md-icon>
											Edit
										</md-button>
							        </md-menu-item>
							        <md-menu-item ng-if="user.role!='manager'">
										<!-- Delete -->
										<md-button ng-click="deleteReport(report.id)">
											<md-icon class="mdi mdi-delete grey"></md-icon>
											Delete
										</md-button>
							        </md-menu-item>
							    </md-menu-content>
						    </md-menu>
						</div>
					</div>
					<div layout="row" flex>					
						<table class="table">
							<tr>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'member.full_name' ; sortReverse = !sortReverse">	
										<span>Name</span>
										<md-icon ng-show="sortType == 'member.full_name' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'member.full_name' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'position.name' ; sortReverse = !sortReverse">	
										<span>Position</span>
										<md-icon ng-show="sortType == 'position.name' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'position.name' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'target.experience' ; sortReverse = !sortReverse">	
										<span>Category</span>
										<md-icon ng-show="sortType == 'target.experience' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'target.experience' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'hours_worked' ; sortReverse = !sortReverse">	
										<span>Hours Worked</span>
										<md-icon ng-show="sortType == 'hours_worked' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'hours_worked' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'output' ; sortReverse = !sortReverse">	
										<span>Output</span>
										<md-icon ng-show="sortType == 'output' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'output' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'output_error' ; sortReverse = !sortReverse">	
										<span>Output w/Error(s)</span>
										<md-icon ng-show="sortType == 'output_error' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'output_error' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'average_output' ; sortReverse = !sortReverse">	
										<span>Average Output</span>
										<md-icon ng-show="sortType == 'average_output' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'average_output' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
									</a>
									<md-tooltip>Output / Hours Worked * Shift Hours</md-tooltip>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'productivity' ; sortReverse = !sortReverse">	
										<span>Productivity</span>
										<md-icon ng-show="sortType == 'productivity' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'productivity' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
									</a>
									<md-tooltip>Average Output / Target Output</md-tooltip>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'quality' ; sortReverse = !sortReverse">	
										<span>Quality</span>
										<md-icon ng-show="sortType == 'quality' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'quality' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
									</a>
									<md-tooltip>1 - Output w/Error(s) / Output</md-tooltip>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'quadrant' ; sortReverse = !sortReverse">
										<span>Quadrant</span>
										<md-icon ng-show="sortType == 'quadrant' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'quadrant' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'remarks' ; sortReverse = !sortReverse">
										<span>Remarks</span>
										<md-icon ng-show="sortType == 'remarks' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'remarks' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
							</tr>
							<tr ng-repeat="item in report.performances | filter:rightSidenav.selectedItem | filter: rightSidenav.searchText | filter: filterData.position | filter: toolbar.userInput | orderBy:sortType:sortReverse" ng-class="{shaded:hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="show(item)">
								<td>{{ item.member.full_name }}</td>
								<td>{{ item.position.name }}</td>
								<td>{{ item.target.experience }}</td>
								<td>{{ item.hours_worked | number:2 }}</td>
								<td>{{ item.output | number:2 }}</td>
								<td>{{ item.output_error | number:2 }}</td>
								<td>{{ item.average_output | number:2 }}</td>
								<td>{{ item.productivity | number:2 }}%</td>
								<td>{{ item.quality | number:2 }}%</td>
								<td>
									{{ item.quadrant }}
									<md-tooltip ng-if="item.quadrant == 'Quadrant 1'">Producitivity is not met, but Quality is met.</md-tooltip>
									<md-tooltip ng-if="item.quadrant == 'Quadrant 2'">Producitivity and quality are both met.</md-tooltip>
									<md-tooltip ng-if="item.quadrant == 'Quadrant 3'">Producitivity is met, but Quality is not met.</md-tooltip>
									<md-tooltip ng-if="item.quadrant == 'Quadrant 4'">Producitivity and quality are both not met.</md-tooltip>
								</td>
								<td ng-if="item.remarks" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
									<span ng-if="!item.readMore">{{ item.remarks}}</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<md-card ng-if="!report.results.length">
		<md-card-content>
			<p>No search results found.</p>
		</md-card-content>
	</md-card>
</div>
<!-- Paginated Data -->
<div class="fade-transition" ng-if="report.show" infinite-scroll='report.paginateLoad()' infinite-scroll-distance="2" infinite-scroll-disabled="report.busy" infinite-scroll-parent>
	<div layout="row" layout-padding flex ng-repeat="report in report.paginated | filter: {user_id:filterData.submitter} | filter: projects[filterData.project].name | filter:filterDate.date_start | filter:filterDate.date_end | filter: toolbar.userInput">
		<div flex>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="primary-text md-title">{{ report.date_start | date: 'MMMM dd, yyyy'}} to {{ report.date_end | date: 'MMMM dd, yyyy'}}</span>
				</div>
				<div class="panel-body" layout="column">
					<div layout="row" flex ng-if="report.showCharts" class="fade-transition">
						<!-- <div layout="column" flex="65">
							<md-radio-group ng-model="report.chartType" layout="row">
								<md-radio-button value="bar" class="md-primary">Bar</md-radio-button>
								<md-radio-button value="line" class="md-primary">Line</md-radio-button>
							</md-radio-group>
							<div layout="row">
								<div flex>
									Bar
									<canvas ng-if="report.chartType=='bar'" class="chart chart-bar" chart-data="report.charts.productivity.data" chart-labels="report.charts.productivity.labels"  chart-series="report.charts.productivity.series"></canvas>
									Line
									<canvas ng-if="report.chartType=='line'" class="chart chart-line" chart-data="report.charts.productivity.data" chart-labels="report.charts.productivity.labels"  chart-series="report.charts.productivity.series"></canvas>
									
									<h3 class="md-subhead center-text">Productivity</h3>					
								</div>
								<div flex>					
									Bar
									<canvas ng-if="report.chartType=='bar'" class="chart chart-bar" chart-data="report.charts.quality.data" chart-labels="report.charts.quality.labels" chart-series="report.charts.quality.series" chart-colours="['#FF4081']"></canvas>
									Line
									<canvas ng-if="report.chartType=='line'" class="chart chart-line" chart-data="report.charts.quality.data" chart-labels="report.charts.quality.labels"  chart-series="report.charts.quality.series" chart-colours="['#FF4081']"></canvas>
											
									<h3 class="md-subhead center-text">Quality</h3>					
								</div>
							</div>
						</div> -->
						<div flex>						
							<table class="table">
								<tr>
									<th colspan="{{report.project.positions.length + 1}}">Targets</th>
								</tr>
								<tr>
									<th>Productivity</th>
									<th ng-repeat="position in report.project.positions">{{position.name}}</th>
								</tr>
								<tr>
									<td>Beginner (less than 3 months)</td>
									<td ng-repeat="beginner in report.project.beginner">{{beginner}}</td>
								</tr>
								<tr>
									<td>Moderately Experienced (3 to 6 months)</td>
									<td ng-repeat="moderately_experience in report.project.moderately_experienced">{{moderately_experience}}</td>
								</tr>
								<tr>
									<td>Experienced (6 months and beyond)</td>
									<td ng-repeat="experience in report.project.experienced">{{experience}}</td>
								</tr>
								<tr>
									<th>Quality</th>
									<td ng-repeat="quality in report.project.quality track by $index">{{quality}}%</td>
								</tr>
							</table>
						</div>					
					</div>
					<h2 class="primary-text md-headline">{{ report.project.name }}</h2>
					<p>Submitted by: {{report.team_leader.first_name}} {{report.team_leader.last_name}}</p>
					<p ng-if="report.locked" class="secondary-text"><em>*Report is locked for any changes.</em></p>
					<p ng-if="!report.locked && !hideDateDiff" class="secondary-text"><em>*Report will lock in {{ 8 - report.diffDays}} day(s).</em></p>
					<div layout="row" layout-align="space-between center">
						<!-- <h3 class="secondary-text md-subhead">Daily Work Hours: {{ details[0].daily_work_hours | number:1 }} hours</h3> -->
						<div layout="row">
							<md-switch class="md-primary" ng-model="report.showCharts" aria-label="report.showCharts">
							    <span ng-if="!report.showCharts">Show</span> <span ng-if="report.showCharts">Hide</span> Targets
							</md-switch>
							<md-menu ng-if="!report.locked">
						    	<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
							        <md-icon class="mdi mdi-dots-horizontal grey"></md-icon>
							        <md-tooltip>Menu</md-tooltip>
							    </md-button>
							    <md-menu-content width="2">
							        <md-menu-item ng-if="user.role!='manager'">
							          	<!-- Edit -->
										<md-button ng-click="editReport(report.id)">
											<md-icon class="mdi mdi-pencil grey"></md-icon>
											Edit
										</md-button>
							        </md-menu-item>
							        <md-menu-item ng-if="user.role!='manager'">
										<!-- Delete -->
										<md-button ng-click="deleteReport(report.id)">
											<md-icon class="mdi mdi-delete grey"></md-icon>
											Delete
										</md-button>
							        </md-menu-item>
							    </md-menu-content>
						    </md-menu>
						</div>
					</div>
					<div layout="row" flex>					
						<table class="table">
							<tr>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'member.full_name' ; sortReverse = !sortReverse">	
										<span>Name</span>
										<md-icon ng-show="sortType == 'member.full_name' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'member.full_name' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'position.name' ; sortReverse = !sortReverse">	
										<span>Position</span>
										<md-icon ng-show="sortType == 'position.name' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'position.name' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'target.experience' ; sortReverse = !sortReverse">	
										<span>Category</span>
										<md-icon ng-show="sortType == 'target.experience' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'target.experience' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'hours_worked' ; sortReverse = !sortReverse">	
										<span>Hours Worked</span>
										<md-icon ng-show="sortType == 'hours_worked' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'hours_worked' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'output' ; sortReverse = !sortReverse">	
										<span>Output</span>
										<md-icon ng-show="sortType == 'output' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'output' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'output_error' ; sortReverse = !sortReverse">	
										<span>Output w/Error(s)</span>
										<md-icon ng-show="sortType == 'output_error' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'output_error' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'average_output' ; sortReverse = !sortReverse">	
										<span>Average Output</span>
										<md-icon ng-show="sortType == 'average_output' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'average_output' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
									</a>
									<md-tooltip>Output / Hours Worked * Shift Hours</md-tooltip>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'productivity' ; sortReverse = !sortReverse">	
										<span>Productivity</span>
										<md-icon ng-show="sortType == 'productivity' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'productivity' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
									</a>
									<md-tooltip>Average Output / Target Output</md-tooltip>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'quality' ; sortReverse = !sortReverse">	
										<span>Quality</span>
										<md-icon ng-show="sortType == 'quality' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'quality' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
									</a>
									<md-tooltip>1 - Output w/Error(s) / Output</md-tooltip>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'quadrant' ; sortReverse = !sortReverse">
										<span>Quadrant</span>
										<md-icon ng-show="sortType == 'quadrant' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'quadrant' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
								<th>
									<a href="" class="main-text" ng-click="sortType = 'remarks' ; sortReverse = !sortReverse">
										<span>Remarks</span>
										<md-icon ng-show="sortType == 'remarks' && !sortReverse" class="mdi mdi-chevron-down grey"></md-icon>
										<md-icon ng-show="sortType == 'remarks' && sortReverse" class="mdi mdi-chevron-up grey"></md-icon>
										<md-tooltip>
											<span ng-show="sortReverse">Ascending</span>
											<span ng-show="!sortReverse">Descending</span>
										</md-tooltip>
									</a>
								</th>
							</tr>
							<tr ng-repeat="item in report.performances | filter: rightSidenav.searchText | filter: filterData.position | filter: toolbar.userInput | orderBy:sortType:sortReverse" ng-class="{shaded:hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="show(item)">
								<td>{{ item.member.full_name }}</td>
								<td>{{ item.position.name }}</td>
								<td>{{ item.target.experience }}</td>
								<td>{{ item.hours_worked | number:2 }}</td>
								<td>{{ item.output | number:2 }}</td>
								<td>{{ item.output_error | number:2 }}</td>
								<td>{{ item.average_output | number:2 }}</td>
								<td>{{ item.productivity | number:2 }}%</td>
								<td>{{ item.quality | number:2 }}%</td>
								<td>
									{{ item.quadrant }}
									<md-tooltip ng-if="item.quadrant == 'Quadrant 1'">Producitivity is not met, but Quality is met.</md-tooltip>
									<md-tooltip ng-if="item.quadrant == 'Quadrant 2'">Producitivity and quality are both met.</md-tooltip>
									<md-tooltip ng-if="item.quadrant == 'Quadrant 3'">Producitivity is met, but Quality is not met.</md-tooltip>
									<md-tooltip ng-if="item.quadrant == 'Quadrant 4'">Producitivity and quality are both not met.</md-tooltip>
								</td>
								<td ng-if="item.remarks" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
									<span ng-if="!item.readMore">{{ item.remarks}}</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<md-card ng-if="!report.paginated.length">
		<md-card-content>
			<p>No records to show</p>
		</md-card-content>
	</md-card>
</div>