<!-- Search reports -->
<div class="fade-transition" layout="column" flex flex-gt-sm="70" ng-if="report.results && !report.show">
	<div layout="row" layout-padding flex ng-repeat="details in report.results | filter: toolbar.userInput">
		<div flex>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="primary-text md-title">{{ details[0].date_start }} to {{ details[0].date_end }}</span>
				</div>
				<div class="panel-body" layout="column">
					<!-- Chart	-->
					<canvas id="bar-{{$index}}" class="chart chart-bar" chart-data="charts.result.data[$index]" chart-labels="charts.labels" chart-legend="true" chart-series="charts.result.series[$index]">
					</canvas>
					<h2 class="primary-text md-headline">{{ details[0].project }}</h2>
					<div layout="row" layout-align="space-between center">
						<h3 class="secondary-text md-subhead">Daily Work Hours: {{ details[0].daily_work_hours | number:1 }} hours</h3>
						<div layout="row">
							<!-- Edit -->
							<md-button class="md-fab md-mini md-primary" ng-click="editReport(report.details.data[$index].id)">
								<md-icon class="mdi mdi-pencil"></md-icon>
								<md-tooltip>Edit</md-tooltip>
							</md-button>
							<!-- Download -->
							<md-button class="md-fab md-mini" ng-click="downloadReport(report.details.data[$index].id)">
								<md-icon class="mdi mdi-download"></md-icon>
								<md-tooltip>Download</md-tooltip>
							</md-button>
						</div>
					</div>
					<div layout="row" flex>					
						<table class="table">
							<tr>
								<th>Name</th>
								<th>Position</th>
								<th>Experience</th>
								<th>Hours Worked</th>
								<th>Output</th>
								<th>Output w/Error(s)</th>
								<th>
									Average Output
									<md-tooltip>Output / Hours Worked * Shift Hours</md-tooltip>
								</th>
								<th>
									Productivity
									<md-tooltip>Average Output / Target Output * Shift Hours</md-tooltip>
								</th>
								<th>
									Quality
									<md-tooltip>1 - Output w/Error(s) / Output</md-tooltip>
								</th>
							</tr>
							<tr ng-repeat="item in details | filter: toolbar.userInput">
								<td>{{ item.full_name }}</td>
								<td>{{ item.position }}</td>
								<td>{{ item.experience }}</td>
								<td>{{ item.hours_worked | number:1 }}</td>
								<td>{{ item.output | number:1 }}</td>
								<td>{{ item.output_error | number:1 }}</td>
								<td>{{ item.average_output | number:1 }}</td>
								<td>{{ item.productivity | number:1 }}%</td>
								<td>{{ item.quality | number:1 }}%</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<md-card ng-if="!report.results.length">
		<md-card-content>
			<p>No search results found.</p>
		</md-card-content>
	</md-card>
</div>

<!-- Paginated Data -->
<div class="fade-transition" ng-if="report.show" flex infinite-scroll='report.paginateLoad()' infinite-scroll-distance="2" infinite-scroll-disabled="report.busy" infinite-scroll-parent>
	<div layout="row" layout-padding flex ng-repeat="details in report.paginated | filter: toolbar.userInput">
		<div flex>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="primary-text md-title">{{ details[0].date_start }} to {{ details[0].date_end }}</span>
				</div>
				<div class="panel-body" layout="column">
					<!-- Chart	-->
					<canvas id="bar-{{$index}}" class="chart chart-bar" chart-data="charts.data[$index]" chart-labels="charts.labels" chart-legend="true" chart-series="charts.series[$index]">
					</canvas>
					<h2 class="primary-text md-headline">{{ details[0].project }}</h2>
					<div layout="row" layout-align="space-between center">
						<h3 class="secondary-text md-subhead">Daily Work Hours: {{ details[0].daily_work_hours | number:1 }} hours</h3>
						<div layout="row">
							<!-- Edit -->
							<md-button class="md-fab md-mini md-primary" ng-click="editReport(report.details.data[$index].id)" ng-if="user.role=='admin'">
								<md-icon class="mdi mdi-pencil"></md-icon>
								<md-tooltip>Edit</md-tooltip>
							</md-button>
							<!-- Download -->
							<md-button class="md-fab md-mini" href="/report-download/{{ report.details.data[$index].id }}" target="_blank">
								<md-icon class="mdi mdi-download"></md-icon>
								<md-tooltip>Download</md-tooltip>
							</md-button>
							<!-- Delete -->
							<md-button class="md-fab md-mini md-warn" ng-click="deleteReport(report.details.data[$index].id)" ng-if="user.role=='admin'">
								<md-icon class="mdi mdi-delete"></md-icon>
								<md-tooltip>Delete</md-tooltip>
							</md-button>
						</div>
					</div>
					<div layout="row" flex>					
						<table class="table">
							<tr>
								<th>Name</th>
								<th>Position</th>
								<th>Experience</th>
								<th>Hours Worked</th>
								<th>Output</th>
								<th>Output w/Error(s)</th>
								<th>
									Average Output
									<md-tooltip>Output / Hours Worked * Shift Hours</md-tooltip>
								</th>
								<th>
									Productivity
									<md-tooltip>Average Output / Target Output * Shift Hours</md-tooltip>
								</th>
								<th>
									Quality
									<md-tooltip>1 - Output w/Error(s) / Output</md-tooltip>
								</th>
							</tr>
							<tr ng-repeat="item in details | filter: toolbar.userInput">
								<td>{{ item.full_name }}</td>
								<td>{{ item.position }}</td>
								<td>{{ item.experience }}</td>
								<td>{{ item.hours_worked | number:1 }}</td>
								<td>{{ item.output | number:1 }}</td>
								<td>{{ item.output_error | number:1 }}</td>
								<td>{{ item.average_output | number:1 }}</td>
								<td>{{ item.productivity | number:1 }}%</td>
								<td>{{ item.quality | number:1 }}%</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<md-card ng-if="!report.paginated.length">
		<md-card-content>
			<p>No records to show</p>
		</md-card-content>
	</md-card>
</div>