<section layout="row" flex class="full-height-min">
	<md-sidenav class="md-sidenav-left full-height-max" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" layout="column" flex>
		<md-toolbar class="site-logo-large" layout="row" layout-align="center center">
			<a ui-sref="main" layout="row" layout-align="center center">
				<img src="/assets/img/Personiv-Final_white_transparent.png" alt="Personiv Logo">
			</a>
		</md-toolbar>
		<!-- Avatar Section -->
		<div class="avatar-container" layout="column">
			<div class="avatar-section" layout="column" flex layout-align="end start" layout-margin>
				<!-- <img src="/assets/img/woman_blonde.gif" alt="avatar"> -->
				<br>
				<span class="md-body-2 white-text">{{ user.first_name }}</span>
				<div layout="row" layout-align="space-between center">
					<p>
						<span class="md-body-1 white-text">{{ user.email }}</span>
					</p>
					<md-menu>
			          	<md-button aria-label="Account Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
			            	<md-icon md-menu-origin class="mdi mdi-chevron-down baseline"></md-icon>
			          	</md-button>
			          	<md-menu-content width="2">
				            <md-menu-item>
				              	<md-button href="/auth/logout">
				                	<md-icon md-menu-align-target class="mdi mdi-logout grey"></md-icon>
				                	Logout
				              	</md-button>
				            </md-menu-item>
			          	</md-menu-content>
			        </md-menu>
				</div>
			</div>
		</div>
		<md-content layout="column" layout-align="space-between center" class="purple-bg" flex>
			<!-- Sidenav -->
			<div class="full-width-min" ui-view="left-sidenav" flex id="left-sidenav"></div>
		</md-content>
		<!-- Copyrights -->
		<div layout="column" class="copyrights purple-bg">
		    <p class="md-caption white-text">© Designed and Built by <br>Mcoy - IT Programmer <br>marco.paco@personiv.com <br>Personiv</p>
		</div>
	</md-sidenav>
	<!-- Content Container -->
	<md-content flex layout="column" class="full-height-max content-container" ui-view="content-container"></md-content>
</section>