/* Blue - Pink */
$primary500: #2196F3;
$primary700: #1976D2;
$primary100: #D1C4E9;

$accentA200: #FF4081;

$main-text: #212121;
$secondary-text: #727272;
$divider: #B6B6B6;

$red500: #F44336;
$orange500: #FF9800;
$teal500: #009688;
$blue500: #2196F3;

